openapi: 3.0.3
info:
  title: スマレジ・プラットフォームAPI 共通仕様
  description: |
    スマレジ・プラットフォームAPIの共通機能を利用するためのAPI仕様書です。
    契約情報の取得や、各種マスタ情報を提供します。
  version: 1.0.0
  contact:
    name: スマレジサポート
    url: https://www.smaregi.jp/support/
servers:
  - url: https://api.smaregi.dev/{contractId}/common
    description: サンドボックス環境
    variables:
      contractId:
        description: 契約ID
        default: dummy
  - url: https://api.smaregi.jp/{contractId}/common
    description: 本番環境
    variables:
      contractId:
        description: 契約ID
        default: dummy

paths:
  $ref: './paths/_index.yaml'

components:
  securitySchemes:
    AppAccessToken:
      type: oauth2
      description: アプリアクセストークン。
      flows:
        clientCredentials:
          tokenUrl: https://id.smaregi.dev/app/{contractId}/token
          refreshUrl: https://id.smaregi.dev/app/{contractId}/token
          scopes:
            common.contracts:read: 契約情報の参照ができます。
            common.taxes:read: 税率情報の参照ができます。
            common.currencies:read: 通貨情報の参照ができます。
            common.shop:read: 店舗情報の参照ができます。
    UserAccessToken:
      type: oauth2
      description: |
        ユーザーアクセストークン。
        管理画面における制御と同等の、ユーザー（＝スタッフ）の所属店舗による制御や、属する役割・役職に設定された各種権限に基づく実行制御が適用されます。
      flows:
        authorizationCode:
          authorizationUrl: https://id.smaregi.dev/authorize
          tokenUrl: https://id.smaregi.dev/authorize/token
          refreshUrl: https://id.smaregi.dev/authorize/token
          scopes:
            common.contracts:read: 契約情報の参照ができます。
            common.taxes:read: 税率情報の参照ができます。
            common.currencies:read: 通貨情報の参照ができます。
            common.shop:read: 店舗情報の参照ができます。
  
  schemas:
    $ref: './schemas/_index.yaml'

tags:
  - name: 契約
    description: 契約情報に関する操作
  - name: 税率
    description: 税率情報に関する操作
  - name: 通貨
    description: 通貨情報に関する操作
  - name: 店舗
    description: 店舗情報に関する操作
